@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Mono&family=Fira+Sans:wght@300&display=swap');

:root{
    --bg: #1d1f21;
    --acc1: #cdcaca;

}
*{
    background-color: transparent;
    color: white;
    font-family: 'Fira Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
    margin: 0;
}
body {
    margin: 0;
    padding: 0 20px;
    background-color: var(--bg);
}
a{
    all:unset;
    cursor: pointer;

}
.container{
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.section{
    margin: auto;
    width: 100%;
}
.card{
    border: 1px var(--acc1) solid;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: border-color ease-in-out 200ms;
}
@media(max-width: 950px){
    .card{
        margin-top: 5%;
    }
}
.card:hover{
    border-color: white;
}
.card-title{
    margin: auto;
}
.card-content{
    margin: auto;
}
.card-footer{
    display: flex;
    margin: auto;
    justify-content: space-around;
}
.card-links{
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: center;
    /* margin: auto; */
}
.card-links a{
    padding: 0px;
    font-size: 1.5rem;
    /* border: 2px solid var(--acc1); */
    margin-right: 2%;
}
.card-links a > i{
	color: var(--acc1);
	transition: all ease-in-out 200ms;
}

h2{
    padding: 5px;
}
p{
    color:var(--acc1);
    padding: 5px;
}
.intext-link{
    color:white;
}

.nav{
    display: flex;
    width: 95%;
    position: fixed;
    background-color: transparent;
}
.nav-item{
    padding: 5px;
}   
.nav-link{
    color: white;
    transition: color ease-in-out 100ms;
}

.cards{
    padding: 15px;
}
@media (min-width: 950px){
    .card{
        width: 35%;
        height: 25%;
        margin-top: 10px;
    }
    .section{
        width: 60%;
    }
    .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
@media (min-width: 600px){
    .nav{
        justify-content: flex-end;
    }
    .nav-link{
        color: var(--acc1);
    }
    .nav-link:hover{
        color: white;
    }
    .card-links a > i:hover{
        /* background-color: #fefefe; */
        /* border: 2px solid #fefefe; */
        color: #fff;
    
    }
}
